/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para la cabecera */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  /* Estilos para el título de la página */
  h1 {
    margin-top: 0;
  }
  
  /* Estilos para el listado de alumnos */
  .listadoAlumnos {
    margin: 20px;
  }
  
  /* Estilos para la tabla de alumnos */
  #alumnos-lista {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Estilos para la fila encabezado de la tabla */
  .tableEncabezado th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  /* Estilos para las filas pares de la tabla */
  #alumnos-lista tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las celdas de la tabla */
  #alumnos-lista td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Estilos para el formulario de búsqueda */
  .formulario {
    margin: 20px;
  }
  
  /* Estilos para los botones */
  .button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }
  
  /* Estilos para los campos de entrada */
  .input-mac {
    display: inline-block;
    margin: 10px;
  }
  
  /* Estilos para los campos de selección */
  .select-mac {
    display: inline-block;
    margin: 10px;
  }
  
  /* Estilos para la tabla de resultados de búsqueda */
  #alumnos-lista2 {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }
  
  /* Estilos para las filas de la tabla de resultados de búsqueda */
  #alumnos-lista2 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para las celdas de la tabla de resultados de búsqueda */
  #alumnos-lista2 td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Estilos para el cuadro de resultado de búsqueda */
  #mostrar-alumno-encontrado {
    display: none;
    margin: 20px;
    text-align: center;
  }
  
  /* Estilos para centrar elementos */
  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  